body {
  margin: 0;
  font-family: var(--main);
  font-size: 24px;
  background-color: var(--background);
  display: grid;
  grid-template-columns: max-content 1fr;
}

* {
  transition: 500ms;
  box-sizing: border-box;
}

a {
  display: block;
  color: var(--general);
  text-decoration: none;
}

a:hover {
  color: var(--lime)
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}